<template>
  <main role="main">
    <!-- START THE FEATURETTES -->
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-8">
          <!-- about -->
          <h2>{{ $t('about') }}</h2>
          <p>{{ $t('about.p1') }}</p>
          <ul class="list">
            <li>{{ $t('about.li1') }}</li>
            <li>{{ $t('about.li2') }}</li>
          </ul>
          <p>{{ $t('about.p2') }}</p>

          <!-- background -->
          <h2>{{ $t('background') }}</h2>
          <figure class="figure" style="width: 100%;">
            <img class="figure-img img-fluid" src="../assets/nazareth-malul.jpg" alt="Israeli 1958 overprint (purple) on British 1946 map, marking destruction of Palestinian villages including Ma’lul and new Jewish-Israeli settlements built on their lands">
            <figcaption class="figure-caption">{{ $t('background.caption1') }}</figcaption>
          </figure>
          <blockquote class="blockquote ml-4 mr-4">
            <p class="mb-0">"{{ $t('background.quote1') }}"</p>
            <footer class="blockquote-footer">{{ $t('background.quote1.attribution') }}<cite title="Source Title"> "{{ $t('background.quote1.source') }}</cite></footer>
          </blockquote>
          <p>{{ $t('background.p1') }}</p>
          <p>{{ $t('background.p2') }}</p>
          
          <!-- credits -->
          <h2>{{ $t('credits') }}</h2>
          <p>{{ $t('credits.p1') }}</p>
          <p>{{ $t('credits.p2') }} <a href="https://creativecommons.org/bassel-khartabil-fellowship/" target="_blank">{{ $t('credits.p2.bassel') }}</a>{{ $t('credits.p2.p2') }}</p>
          <p></p>
          <p>{{ $t('credits.p3') }}</p>
          <p>{{ $t('credits.p4.1') }}<a href="http://www.plands.org/en/home" target="_blank">{{ $t('credits.p4.2') }}</a>){{ $t(',') }} <a href="http://www.palestineremembered.com/" target="_blank">{{ $t('credits.p4.3') }}</a>{{ $t(',') }} <a href="http://www.zochrot.org/en" target="_blank">{{ $t('credits.p4.5') }}</a>{{ $t(',') }}{{ $t('credits.p4.6') }}</p>
          <p>{{ $t('credits.p5.1') }}<a href="https://www.pef.org.uk/" target="_blank">{{ $t('credits.p5.2') }}</a>{{ $t(',') }} {{ $t('credits.p5.3') }} <a href="http://web.nli.org.il/sites/nlis/en" target="_blank">{{ $t('credits.p5.4') }}</a>{{ $t(',') }} {{ $t('credits.p5.5') }} <a href="https://www.nla.gov.au/" target="_blank">{{ $t('credits.p5.6') }}</a>{{ $t(',') }} {{ $t('credits.p5.5') }} <a href="https://www.davidrumsey.com/" target="_blank">{{ $t('credits.p5.7') }} </a>. {{ $t('credits.p5.8') }} </p>
        </div>
        <div class="col-md-4 text-center">
          <router-link to="/view">
            <img class="figure-img img-fluid" src="../assets/launch-sml.jpg" :alt="$t('launchViewer')">
          </router-link>
        </div>
      </div>
      <hr>
      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->

  </main>  
</template>

<script>
  export default {
    name: 'AboutPage',
    metaInfo: function () {
      return {
        title: this.$t('about')
      }
    }
  }
</script>


<i18n>
{
  "en": {
    "about": "About", 
    "about.p1": "Palestine Open Maps is a platform that seeks to combine emerging technologies for mapping and immersive storytelling to:",
    "about.li1": "Open-source and make searchable, for the first time, a uniquely detailed set of historic maps from the period of the British Mandate of Palestine;",
    "about.li2": "Curate layered visual stories that bring to life absent and hidden geographies, in collaboration with data journalists, academic researchers, and civil society groups.",
    "about.p2": "This alpha version of the platform allows users to navigate and search the historic map sheets, and to view basic data about present and erased localities.",

    "background": "Background",
    "background.caption1": "Israeli 1958 overprint (purple) on British 1946 map, marking destruction of Palestinian villages including Ma’lul and new Jewish-Israeli settlements built on their lands.",
    "background.quote1": "Jewish villages were built in the place of Arab villages. You don't even know the names of these Arab villages, and I don't blame you, because these geography books no longer exist [...] Nahalal arose in the place of Mahlul, Gvat in the place of Jibta, Sarid in the place of Haneifa, and Kfar-Yehoshua in the place of Tel-Shaman. There is not one single place built in this country that did not have a former Arab population.",
    "background.quote1.attribution": "Moshe Dayan, writing in",
    "background.quote1.source": "Ha’aretz, 1969",
    "background.p1": "The idea for this platform was inspired by a large collection of 1940s survey maps from the British Mandate of Palestine recently digitized by the Israeli national library. These maps—all now in the public domain—cover the territory at scales of up to 1:20,000, offering a vivid snapshot of a human and natural geography almost unrecognizable on the ground today, with an unparalleled level of physical detail, including population centers, roads, topographic features and property boundaries.",
    "background.p2": "Although the maps were already in the public domain, their usefulness was limited since they comprise hundreds of separate sheets with no easy means to search, navigate or otherwise comprehend. By combining these sheets into seamless layers that can be navigated online, and combining them with other available data sources, such as the 1945 Village Statistics, historic photography, oral histories and present day digital maps and data, this platform seeks to offer an invaluable resource for mapping the transformation in the human geography of historic Palestine over the past 70+ years.",

    "credits": "Credits",
    "credits.p1": "This project was initiated at Impact Data Lab, a workshop organized by Visualizing Palestine and Columbia University Studio-X Amman in March 2018. The app is under continuing development by Visualizing Palestine with support from a number of other individuals.", 
    "credits.p2": "Development team: Ahmad Barclay, Majd Al-shihabi (supported by the Creative Commons ",
    "credits.p2.bassel": "Bassel Khartabil Free Culture Fellowship",
    "credits.p2.p2": "), Hanan Yazigi, Morad Taleeb, Henry Zaccak and Bassam Barham.",
    "credits.p3": "Special thanks: Stella Ioannidou, Noor Lozi, and to Nora Akawi and the Columbia Studio-X Amman team.",
    "credits.p4.1": "The project would also not have been possible without data gathered and digitized over many years by Salman Abu Sitta (",
    "credits.p4.2": "Palestine Land Society",
    "credits.p4.3": "Palestine Remembered",
    "credits.p4.5": "Zochrot",
    "credits.p4.6": " and other individuals and organizations.",
    "credits.p5.1": "The map sheets themselves were produced by the Survey of Palestine—a British Mandate institution—and the ",
    "credits.p5.2": "Palestine Exploration Fund",
    "credits.p5.3": "and were drawn from sources including the",
    "credits.p5.4": "National Library of Israel",
    "credits.p5.5": "the",
    "credits.p5.6": "National Library of Australia",
    "credits.p5.7": "David Rumsey Map Collection",
    "credits.p5.8": "All of the maps are considered public domain under the UK Copyright, Designs and Patent Act 1998, and were marked as such on the source websites."
  }, 
  "ar": {
    "about": "عن المشروع"
  }, 
  "he": {
    "about": ""
  }
}
</i18n>
