<template>
  <main role="main">
    <div class="row no-gutters">
      <div class="col-md-4 p-5"><h2>{{ $t('introPage.welcome') }}</h2>
        <p>{{ $t('description.p1') }}</p>
        <p>{{ $t('description.p2') }}</p>
        <p>{{ $t('description.p3') }}</p>
        <router-link to="/view" class="btn btn-default"> {{ $t('launchViewer') }} </router-link>
        <router-link to="/about" class="btn btn-default"> {{ $t('readMore') }} </router-link>
      </div>
      <div class="col-md-8 bg-dark img-wrapper">
        <router-link to="/view" class="btn btn-default">
          <img style="height:1000px; width:1000px;" src="../assets/launch-big.jpg" alt="Launch the map viewer">
        </router-link>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'IntroPage',
  metaInfo: function () {
    return {
      title: this.$t('welcome')
    }
  }
}
</script>

<style scoped>
</style>

<i18n>
{
  "en": {
    "welcome": "Welcome",
    "introPage.welcome": "Welcome to Palestine Open Maps",
    "description.p1": "Palestine Open Maps is a platform for map-based exploration and immersive storytelling.",
    "description.p2": "This alpha version of the platform allows users to navigate and search the historic map sheets, and to view basic data about present and erased localities.",
    "description.p3": "Launch the viewer now, or read more about the platform."
  }, 
  "ar": {
    "welcome": "أهلاً",
    "introPage.welcome": "أهلاً بكن في منصّة «خرائط فلسطين المفتوحة»",
    "description.p1": "بالعربي",
    "description.p2": "بالعربي",
    "description.p3": "بالعربي"
  }, 
  "he": {
    "introPage.welcome": "shalom"
  }
}
</i18n>