<template>
  <h1> {{ $t('notFound') }}</h1> 
</template>

<script>
  export default {
    metaInfo: function () {
      return {
        title: this.$t('notFoundTitle')
      }
    }
  }
</script>


<i18n>
{
  "en": {
    "notFound": "Oops. Page not found!",
    "notFoundTitle": "Page not found!"
  }, 
  "ar": {
  }, 
  "he": {
  }
}
</i18n>
