<template>
  <main role="main">
    <!-- START THE FEATURETTES -->
    <div class="container">
    <div class="row mt-5">
        <div class="col-md-8 mb-5">
          <h2>{{ $t('support') }}</h2>
          <p>{{ $t('support.p1') }}</p>
          <ol class="circles-list">
            <li>{{ $t('support.li1.1') }}<router-link :to="{ name: 'IntroPage' }">{{ $t('support.li1.2') }}</router-link>{{ $t(',') }} {{ $t('support.li1.3') }} <router-link to="/view">{{ $t('support.li1.4') }}</router-link>.</li>
            <li>{{ $t('support.li2.1') }} <a href="https://visualizingpalestine.org/membership" target="_blank">{{ $t('support.li2.2') }}</a>{{ $t(',') }} {{ $t('support.li2.3') }} <a href="https://visualizingpalestine.org/subscribe?ref=pom" target="_blank">{{ $t('support.li2.4') }}</a>.</li>
            <li>{{ $t('support.li3.1') }}<a href="https://visualizingpalestine.org/vp-contacts#about" target="_blank">{{ $t('support.li3.2') }}</a> {{ $t('support.li3.3') }}.</li>
          </ol>
        </div>
        <div class="col-md-4 text-center">
          <router-link to="/view">
            <img class="figure-img img-fluid" src="../assets/launch-sml.jpg" :alt="$t('launchViewer')">
          </router-link>
        </div>
      </div>
      <hr>
      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
  </main>
</template>

<script>
export default {
  name: 'AboutPage',
  data () {
    return {
      msg: 'About page msg'
    }
  },
  metaInfo: function () {
    return {
      title: this.$t('support')
    }
  }
}
</script>

<i18n>
{
  "en": {
    "support": "Support!",
    "support.p1": "There are a number of ways in which you can support this project.",
    "support.li1.1": "Firstly, we invite you to share the project widely. You can share from the ",
    "support.li1.2": "intro page",
    "support.li1.3": "and also",
    "support.li1.4": "within the map viewer",
    "support.li2.1": "Secondly, we would encourage you to support Visualizing Palestine by",
    "support.li2.2": "becoming a member",
    "support.li2.3": "or otherwise by",
    "support.li2.4": "subscribing to our newsletter",
    "support.li3.1": "Finally, if you are interested to contribute to or support the project in any other way, we invite you to ",
    "support.li3.2": "get in touch with us",
    "support.li3.3": "directly"
  }, 
  "ar": {
    "support": "دعم المشروع"
  }, 
  "he": {
  }
}
</i18n>