<template>
  <main role="main">
    <!-- START THE FEATURETTES -->
    <div class="container">
    <div class="row mt-5">
        <div class="col-md-8">
          <h2>{{ $t('vision') }}</h2>
          <p>{{ $t('vision.p1') }}</p>
          <p>{{ $t('vision.p2') }}</p>
          <figure class="figure" style="width: 100%;">
            <img class="figure-img img-fluid" src="../assets/nablus-3d.jpg" alt="Prototype for 3D laser cut and engraved 1:20,000 scale map of Nablus">
            <figcaption class="figure-caption">{{ $t('vision.figcaption1') }}</figcaption>
          </figure>
          <p>{{ $t('vision.p3') }}</p>
          <p>{{ $t('vision.p4.1') }}<router-link to="/support">{{ $t('vision.p4.2') }}</router-link> {{ $t('vision.p4.3') }}</p>
        </div>
        <div class="col-md-4 text-center">
          <router-link to="/view">
            <img class="figure-img img-fluid" src="../assets/launch-sml.jpg" :alt="$t('launchViewer')">
          </router-link>
        </div>
      </div>
      <hr>
      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
  </main>
</template>

<script>
export default {
  name: 'AboutPage',
  data () {
    return {
      msg: 'About page msg'
    }
  },
  metaInfo: function () {
    return {
      title: this.$t('vision')
    }
  }
}
</script>

<i18n>
{
  "en": {
    "vision": "Project Vision",
    "vision.p1": "This platform is currently at an alpha stage of development. In addition to completing basic functionalities for viewing, searching and downloading historic maps, we are seeking to develop a wide range of additional features.",
    "vision.p2": "The two foremost ambitions for the platform are to allow for collective digitization of the information contained within the maps, and to build immersive storytelling experiences that would harness content from a plethora of other data sources and cultural archives, including historic photography, oral histories and present day digital maps and data.",
    "vision.figcaption1": "Prototype for 3D laser cut and engraved 1:20,000 scale map of Nablus",
    "vision.p3": "In parallel, we are developing the technology to produce 3-dimensional topographic models and other items that will offer an entirely new perspective on the landscapes of historic Palestine, and also help to generate funds to support the platform and Visualizing Palestine.",
    "vision.p4.1": "Check out the ",
    "vision.p4.2": "support page", 
    "vision.p4.3": "to find out how you can help to make the project vision a reality."
  }, 
  "ar": {
    "vision": "رؤيتنا للمشروع"
  }, 
  "he": {
  }
}
</i18n>