<template>

  <div id="accordion">
    <!-- Search panel -->
    <div class="accordion-section search-box">
      <localities-search></localities-search>
    </div>
    
    <!-- basemaps -->
    <div class="accordion-section">
      <h2 v-b-toggle.basemaps>
        <i class="fas fa-chevron-up when-closed"></i>
        <i class="fas fa-chevron-down when-opened"></i>
        {{ $t('baseMaps') }}
      </h2>
      <b-collapse visible id="basemaps">
        <basemaps-panel></basemaps-panel>
      </b-collapse>      
    </div>

    <!-- overlays -->
    <div class="accordion-section">
      <h2 v-b-toggle.overlays>
        <i class="fas fa-chevron-up when-closed"></i>
        <i class="fas fa-chevron-down when-opened"></i>
        {{ $t('overlays') }}
      </h2>
      <b-collapse id="overlays">
        <overlays-panel></overlays-panel>
      </b-collapse>
    </div>    
    <!-- localities -->
    <div class="accordion-section">
      <h2 v-b-toggle.localities>
        <i class="fas fa-chevron-up when-closed"></i>
        <i class="fas fa-chevron-down when-opened"></i>
        {{ $t('localities') }}
      </h2>
      <b-collapse id="localities">
        <localities-filter></localities-filter>
      </b-collapse>
    </div>

    <!-- Download -->
    <div class="accordion-section">
      <h2 v-b-toggle.download @click="toggleSheets">
        <i class="fas fa-chevron-up when-closed"></i>
        <i class="fas fa-chevron-down when-opened"></i>
        {{ $t('download') }}
      </h2>
      <b-collapse id="download">
        <download-maps></download-maps>
        <b-button class="menu-button" href="#" v-b-toggle.download @click="toggleSheets">{{ $t('downloadClose') }}</b-button>
      </b-collapse>
    </div>
    
    <!-- subscribe -->
    <div class="accordion-section">
      <h2 v-b-toggle.subscribe>
        <i class="fas fa-chevron-up when-closed"></i>
        <i class="fas fa-chevron-down when-opened"></i>
        {{ $t('getUpdates') }}
      </h2>
      <b-collapse id="subscribe">
        <subscribe-form></subscribe-form>
      </b-collapse>
    </div>
  </div>

  
</template>


<script>
  import {BCollapse, VBToggle} from 'bootstrap-vue'
  import LocalitiesSearch from '../components/LocalitiesSearch'
  import BasemapsPanel from '../components/BasemapsPanel'
  import OverlaysPanel from '../components/OverlaysPanel'
  import LocalitiesFilter from '../components/LocalitiesFilter'
  import SubscribeForm from '../components/SubscribeForm'
  import DownloadMaps from '../components/DownloadMaps'

  export default {
    components: {
      BCollapse,
      VBToggle,
      LocalitiesSearch,
      BasemapsPanel,
      OverlaysPanel,
      LocalitiesFilter,
      SubscribeForm,
      DownloadMaps
    },
    data: function () {
      return {
        baseMapsCollaps: false,
        localitiesCollaps: true
      }
    },
    methods: {
      toggleSheets: function () {
        this.$store.state.showSheets = !this.$store.state.showSheets
      }
    }
  }
</script>


<style scoped>

  #accordion {
    /*background-color: white; */
    /*padding: 0 0 1rem 0;*/
    overflow: auto;
    height: 100%;
  }
  #localities-search {
    background: #fff;
  }

  .accordion-section {
    padding: 0.5rem 1rem 0 1rem;
    border-bottom: solid 1px black;
  }

  .accordion-section .mi-info {
    float: right;
    font-size: 16px;
    cursor: pointer;
  }

  .accordion-section .subsection {
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
  }
  .accordion-section p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .accordion-section h2 {
    font-size: 16px;
    text-align: left;
    cursor: pointer;
  }
  .accordion-section h2 a {
    color: #222;
  }
  .accordion-section h2 a:hover {
    text-decoration: none;
  }
  .accordion-section ul {
    margin-bottom: 8px;
  }
  .accordion-section ul li {
    font-size: 13px;
    text-align: left;
  }
  .accordion-section ul li label {
    cursor: pointer;
  }
  .accordion-section ul li label.disabled {
    color: #ccc;
  }
  
  .collapsed > .when-closed,
  :not(.collapsed) > .when-opened {
    display: none;
  }

  .accordion-section #overlay-toggle-icon  {
    display: none;
  }

</style>


<i18n>
{
  "en": {
    "baseMaps": "Base maps",
    "overlays": "Overlays", 
    "localities": "Localities",
    "getUpdates": "Get updates",
    "download": "Download maps",
    "downloadClose": "Close downloads"
  }, 
  "ar": {
    "baseMaps": "الخرائط",
    "overlays": "الطبقات الأخرى", 
    "localities": "البلدات",
    "getUpdates": "تابعوا آخر التحديثات",
    "download": "تنزيل الخرائط"
  }, 
  "he": {
    "hello": "shalom"
  }
}
</i18n>