<template>
  <div v-if="layers">
    <div id="baselayer-control-panel">
      <b-form-group>
        <b-form-radio-group stacked
                            v-model="selectedLayer"
                            :options="basemapLayersOptions">
        </b-form-radio-group>
      </b-form-group>
    </div>
  </div>
</template>

<script>
import {mapState, mapGetters} from 'vuex'
import {BFormGroup, BFormRadio, BFormRadioGroup} from 'bootstrap-vue'
import LayerCollection from '../collections/LayerCollection'
// import Layer from '../models/Layer'

export default {
  components: {
    BFormGroup,
    BFormRadio,
    BFormRadioGroup
  },
  computed: {
    basemaps: {
      get: function () {
        return this.$store.state.basemaps
      },
      set: function (basemaps) {
        this.store.commit('setBasemaps', basemaps)
      }
    },
    selectedLayer: {
      get: function () {
        return this.$store.state.selectedLayer
      },
      set: function (selectedLayer) {
        this.$store.commit('setSelectedLayer', selectedLayer)
      }
    },
    basemapLayersOptions: function () {
      let options = []

      for (var layer of this.basemaps.models) {
        options.push({text: layer.name, value: layer, selected: layer.is_default})
      }

      return options
    },
    ...mapState(['layers'])
  },
  watch: {
    selectedLayer: function (selectedLayer) {
      // console.log(selectedLayer.id)
      if (selectedLayer) {
        this.basemaps.each((layer, index) => {
          if (layer.id === selectedLayer.id) {
            layer.is_visible = true
          } else {
            layer.is_visible = false
          }
        })
      }
    }
  }
}
</script>

<style scoped>

/*

@Morad: do the styling here!
*/  
#baselayer-control-panel {
  font-size: 13px;
  /*background-color: white; */
}
</style>