<template>
  <div id="downloads">
    <div class="sheets available-downloads" v-if="!selectedSheets">
      <p>{{ $t('clickOnTheMap') }}</p>
    </div>
    <div class="sheets available-downloads" v-if="selectedSheets">
      <p>{{ $t('availableSheets') }}<br /><small>({{ $t('clickAgain') }})</small></p>
    </div>
    <b-container fluid class="sheets available-downloads" v-if="selectedSheets">
      <b-row v-for="(sheet, index) in selectedSheets" :key="sheet.id" no-gutters class="mb-4">
        <b-col cols="6">
          <a :href="sheet.dropbox_link">
            <b-img :src="'/static/images/thumbs/' + sheet.layer + '/' + sheet.file_name" fluid :alt="sheet.name"></b-img>
          </a>
        </b-col>
        <b-col cols="6" class="pl-2">
          <p class="sheet-title">{{ sheet.name }}</p>
          <p class="sheet-detail font-weight-bold">{{ getLayerNameById(sheet.layer) }}</p>
          <p class="sheet-detail">Scale: 1:{{ getLayerScaleById(sheet.layer) }}</p>
          <p class="sheet-detail" v-if="sheet.year != null">Date: {{ sheet.year }}</p>
          <a :href="sheet.dropbox_link" title="download" class="download-link"><i class="fas fa-download"></i></a>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  components: {},

  // data: function (), in .vue files it can be just like "data () { }"
  data () {
    return {
      // test
      // selectedSheets: [{id: "1", name: "map1"}, {id: "2", name: "map2"} ]
    }
  },

  methods: {
    setDownloadLink: function (link) {
      this.$store.commit('setDownloadLink', link)
      this.$store.commit('setShowDownloadForm', true)
    },
    getLayerScaleById: function (layerid) {
      let scale = this.$store.state.layers.find({id: layerid}).scale
      return scale.toLocaleString()
    },
    getLayerNameById: function(layerid) {
      let attribution = this.$store.state.layers.find({id: layerid}).attribution
      return attribution.split(',')[0]
    }
  },

  computed: {
    ...mapState(['selectedSheets'])
  },

  created () {
    // this.$store.commit('updateSheets')
  }
}
</script>

<style scoped>
</style>

<i18n>
{
  "en": {
    "availableDownloads": "ِAvailable Downloads",
    "clickOnTheMap": "Click anywhere on the map to see sheets available to download covering that location.",
    "availableSheets": "Sheets covering selected location.",
    "clickAgain": "Click the map again for another location.",
    "download": "Download"
  }, 
  "ar": {
    "availableDownloads": "الخرائط المتوفرة",
    "clickOnTheMap": "اضغط اي مكان ع الخريطة لرْؤية الخرائط المتوفرة للتحميل.",
    "download": "تحميل"
  }, 
  "he": {
  }
}
</i18n>