<template>
  <label for="map-info">
    <i class="fas fa-info-circle" @click="showLegends" title="Map info"></i>
  </label>
</template>

<script>

export default {
  data: function () {
    return {
    }
  },
  computed: {
  },
  methods: {
  	showLegends: function () {
  			this.$store.commit('toggleShowLegends')
  	}
  }
}
</script>

<style scoped>
</style>
