<template>
    <ul id="locale-switcher">
      <li @click="selectedLocale = 'ar'" id="language-ar">ع</li>
      <li @click="selectedLocale = 'en'" id="language-en">En</li>
      <li @click="selectedLocale = 'he'" id="language-he">א</li>
    </ul>
</template>

<script>
import i18n from '../i18n'

export default {
  computed: {
    selectedLocale: {
      get: function () {
        this.$store.state.locale
      },
      set: function (locale) {
        this.$store.commit('setLocale', locale)
      }
    }
  }/* TODO why is this not working??
  watch: {
    selectedLocale: function (newLocale, oldLocale) {
      this.$i18n.locale = newLocale
    }
  }, */
}
</script>

<style lang="scss">
  #locale-switcher li {
    float: right;
    margin: 0 0.5rem;
    color: rgba(255,255,255,.75);
    list-style-type: none;
    cursor: pointer;
  }
</style>