<template>
  <div v-if="localities" id="localities-filter">
    <!-- show localities -->
    <fieldset id="show-localities-checkbox">
      <b-form-checkbox v-model="showLocalitiesState">{{ $t('showLocalities') }}</b-form-checkbox>      
    </fieldset> 

    <!-- filter by state -->
    <b-form-group>
      <b-form-checkbox-group stacked 
                             v-model="filterState" 
                             name="filterStateOptionsCheckies" 
                             :options="filterStateOptions"
                             :disabled="!showLocalities"
                         >
      </b-form-checkbox-group>
    </b-form-group>
  </div>
</template>

<script>

import {BFormCheckbox, BFormGroup, BFormCheckboxGroup} from 'bootstrap-vue'
import { mapState } from 'vuex'

export default {
  components: {
    BFormGroup,
    BFormCheckboxGroup,
    BFormCheckbox
  },

  data: function () {
    return {
      showLocalitiesState: true,
      filterStateOptions: [
        {html: '<img src="/static/images/circle-green.png" />' + this.$i18n.t('remaining'), value: 'remaining'},
        {html: '<img src="/static/images/circle-yellow.png" />' + this.$i18n.t('depopulated'), value: 'depopulated'},
        {html: '<img src="/static/images/circle-orange.png" />' + this.$i18n.t('appropriated'), value: 'depopulated_appropriated'},
        {html: '<img src="/static/images/circle-red.png" />' + this.$i18n.t('depopulated_built_over'), value: 'depopulated_built_over'},
        {html: '<img src="/static/images/circle-blue.png" />' + this.$i18n.t('abandoned'), value: 'abandoned'},
        {html: '<img src="/static/images/circle-gray.png" />' + this.$i18n.t('new_locality'), value: 'new_locality'}
      ]
    }
  },

  computed: {
    showLocalities: {
      get: function () {
        return this.$store.state.showLocalities
      },
      set: function () {
        this.$store.commit('toggleShowLocalities')
      }
    },
    filterState: {
      get: function () {
        return this.$store.state.filterState
      },
      set: function (filterState) {
        this.$store.commit('setFilterState', filterState)
      }
    },
    ...mapState(['localities', 'showLocalities'])
  },

  watch: {
    filterState: function (newFilterState, oldFilterState) {
      this.$store.commit('setFilteredLocalities', newFilterState)
    },
    showLocalitiesState: function (newShowLocalitiesState, oldShowLocalitiesState) {
      this.$store.commit('setShowLocalities', this.showLocalitiesState)
    },
    showLocalities: function (newShowLocalities, oldShowLocalities) {
      this.showLocalitiesState = newShowLocalities
    }
  }

}
</script>

<style scoped>

#localities-filter {
  font-size: 13px;
}
#show-localities-checkbox {
  border-bottom: solid 1.5px hsla(250, 0%, 68%, 1);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

</style>

<i18n>
{
  "en": {
    "showLocalities": "Show localities"
  }, 
  "ar": {
    "showLocalities": "إظهار البلدات"
  }, 
  "he": {
  }
}
</i18n>