<template>
    <l-circle-marker :lat-lng="centroid" 
              :visible="visible"
              :radius="4"
              :stroke="false"
              :fill="true"
              :fillColor="color"
              :fillOpacity="1"
              @click="updateLocality(id)"
            > 
      <l-tooltip :content="name" />
    </l-circle-marker>
</template>

<script>
  // import axios from 'axios'
  import {LCircleMarker, LTooltip} from 'vue2-leaflet'

  const iconKey = {
    'abandoned': '#26a2f7',
    'depopulated': '#fcee21',
    'depopulated_built_over': '#ff0000',
    'new_locality': '#808080',
    'remaining': '#7ac943',
    'depopulated_appropriated': '#f7931e'
  }

  export default {
    name: 'LocalityMarker',
    components: {LCircleMarker, LTooltip},
    props: {
      id: {
        type: Number,
        required: true
      },
      name: {
        type: String,
        required: true
      },
      centroid: {
        type: Array,
        required: true
      },
      status: {
        type: String,
        required: true
      },
      visible: {
        type: Boolean,
        required: true
      }
    },
    data: function () {
      return {
      }
    },
    computed: {
      color: function () {
        return iconKey[this.status]
      }
    },
    methods: {
      updateLocality: function (locId) {
        this.$emit('marker-clicked', locId)
        let locality = this.$store.state.localities.find( ({ id }) => id == locId )
        this.$store.dispatch('selectLocality', locality)
        this.$store.dispatch('getFullLocalityData', locId)
        this.$store.commit('setShowLocalityInfoPanel', true)
      }
    }
  }
</script>