<template>
  <div id="localities-search">
    <v-select :placeholder="$t('localitiesSearch')" 
              label="name" 
              :options="localities.models"
              v-model="selectedLocality"></v-select>
  </div>
</template>


<script>
  import vSelect from 'vue-select'
  import { mapState } from 'vuex'

  export default {
    components: {
      vSelect
    },
    data: function () {
      return {
        baseMapsCollaps: false,
        localitiesCollaps: true
      }
    },
    computed: {
      selectedLocality: {
        get: function () {
          this.$store.state.selectedLocality
        },
        set: function (selectedLocality) {
          this.$store.commit('updateSelectedLocality', selectedLocality)
        }
      },
      ...mapState(['localities'])
    }
  }
</script>


<style scoped lang="scss">
  #localities-search {
    margin-bottom: 0.5rem;
    height: 36px;
  }
  #localities-search .v-select {
    height: 36px;
  }
</style>

<i18n>
{
  "en": {
    "localitiesSearch": "Search localities"
  }, 
  "ar": {
    "localitiesSearch": "البحث عن البلدات"
  }, 
  "he": {
    "localitiesSearch": ""
  }
}
</i18n>