<template>
  <label for="localities-switch">
    <i class="fas fa-map-marker-alt" :class="showLocalitiesState ? 'active' : ''" title="Toggle markers"></i>
    <b-form-checkbox id="localities-switch" v-model="showLocalitiesState"></b-form-checkbox>
  </label>
</template>

<script>

import {BFormCheckbox} from 'bootstrap-vue'
import {mapState, mapGetters} from 'vuex'

export default {
  data: function () {
    return {
      showLocalitiesState: true
    }
  },

  computed: {
    ...mapState(['showLocalities'])
  },

  watch: {
    showLocalitiesState: function (newShowLocalitiesState, oldShowLocalitiesState) {
      this.$store.commit('setShowLocalities', this.showLocalitiesState)
    },
    showLocalities: function (newShowLocalities, oldShowLocalities) {
      this.showLocalitiesState = newShowLocalities
    }
  }
}
</script>

<style scoped>
  .custom-control.custom-checkbox {
    display: none;
  }
  label {
    text-align: center;
  }
  label i {
    line-height: 32px;
  }
</style>
