<template>
  <transition name="slide-in"> 
    <!-- TODO refactor this transition into its own component: https://vuejs.org/v2/guide/transitions.html#Reusable-Transitions-->
    <div v-show="showLocalityInfoPanel" id="locality-info-panel">
      <i id="close" @click="showLocalityInfoPanel=false" class="material-icons" title="Close">close</i>
      <h2>{{ name }}</h2>
      <ul id="share-locality">
        <li><a target="_blank" :href="facebookPost"><i class="fab fa-facebook"></i></a></li>
        <li><a target="_blank" :href="tweet"><i class="fab fa-twitter"></i></a></li>
        <li><a :href="`mailto:?subject=See map of ${name} on Palestine%20Open%20Maps&body=Historic%20maps%20of%20Palestine%20as%20you've%20never%20seen%20them%20before.%0A%0Ahttp%3A//palopenmaps.org${$route.fullPath}`"><i class="fas fa-envelope"></i></a></li>
        <li><small>{{ $t('shareLocality') }}</small></li>
      </ul>
      <table>
        <tbody>
          <tr v-show="localityType">
            <td class="label"> Locality type </td>
            <td> {{ localityType }}</td>
          </tr>
          <tr>
            <td class="label">Change since Nakba</td>
            <td> {{ localityStatus }}</td>
          </tr>
          <tr v-show="populationGroup1945">
            <td class="label">Population, 1945</td>
            <td class="capitalize">{{ populationGroup1945 }}</td>
          </tr>
          <tr v-show="populationGroup2016">
            <td class="label">Population, 2016</td>
            <td class="capitalize">{{ populationGroup2016 }}</td>
          </tr>
          <tr v-show="establishmentDate">
            <td class="label"> Established </td>
            <td> {{ establishmentDate }} </td>
          </tr>
          <tr v-show="depopulationDate">
            <td class="label"> Depopulated </td>
            <td> {{ depopulationDate }} </td>
          </tr>
          <tr id="comment" v-show="comment">
            <td colspan="2" class="label"> {{ comment }} </td>
          </tr>
          </tbody>
      </table>
    </div>
  </transition>
</template>

<script>

import {Model, Collection} from 'vue-mc'
import * as _ from 'lodash'

import LocalityCollection from '../collections/LocalityCollection'
import Locality from '../models/Locality'
import LocalityMarker from './LocalityMarker'

import store from '../store'

export default {
  components: {
    LocalityMarker
  },

  props: {
    locality: {
      type: Object,
      required: false // set to false because first instantiation won't have anything on it
    },
    fullLocality: {
      type: Object,
      required: false
    }
  },

  computed: {
    id: function () {
      return this.locality.id
    },
    name: function () {
      return this.locality.name
    },
    status: function () {
      return this.locality.change_status_since_1945
    },
    localityStatus: function () {
      const statusKey = {
        'abandoned': this.$t('abandoned'),
        'depopulated': this.$t('depopulated'),
        'depopulated_built_over': this.$t('depopulated_built_over'),
        'new_locality': this.$t('new_locality'),
        'remaining': this.$t('remaining'),
        'depopulated_appropriated': this.$t('appropriated')
      }
      return statusKey[this.status]
    },
    localityType: function () {
      let localityType = []
      if (this.threatened) localityType.push(this.$t('threatened'))
      if (this.refugeeCamp) localityType.push(this.$t('refugeeCamp'))
      if (this.illegalSettlement) localityType.push(this.$t('illegalSettlement'))
      return localityType.join(this.$t(',') + ' ')
    },
    populationGroup1945: function () {
      return this.fullLocality.population_group_1945
    },
    populationGroup2016: function () {
      return this.fullLocality.population_group_2016
    },
    destroyed: function () {
      return this.fullLocality.destroyed
    },
    builtOver: function () {
      return this.fullLocality.built_over
    },
    reappropriated: function () {
      return this.fullLocality.reappropriated
    },
    threatened: function () {
      return this.fullLocality.threatened
    },
    refugeeCamp: function () {
      return this.fullLocality.refugee_camp
    },
    illegalSettlement: function () {
      return this.fullLocality.illegal_settlement
    },
    establishmentDate: function () {
      return this.fullLocality.establishment_date
    },
    depopulationDate: function () {
      return this.fullLocality.depopulation_date
    },
    endDate: function () {
      return this.fullLocality.end_date
    },
    comment: function () {
      return this.locality.comment
    },
    showLocalityInfoPanel: {
      get: function () {
        return this.$store.state.showLocalityInfoPanel
      },
      set: function (show) {
        return this.$store.commit('setShowLocalityInfoPanel', show)
      }
    },
    tweet: function () {
      var tweetParams = {
        text: encodeURIComponent(`See historic maps of ${this.name}`),
        hashtags: 'Palestine,PalOpenMaps',
        url: encodeURIComponent(`${process.env.VUE_APP_BASE_URL}${this.$route.fullPath}`)
      }
      var tweetBody = `https://twitter.com/intent/tweet?text=${tweetParams.text}&hashtags=${tweetParams.hashtags}&url=${tweetParams.url}`
      return tweetBody
    },
    facebookPost: function () {
      var postParams = {
        text: encodeURIComponent(`See historic maps of ${this.name}, Palestine on Palestine Open Maps `),
        url: `${process.env.VUE_APP_BASE_URL}${this.$route.fullPath}`
      }
      var postBody = `https://www.facebook.com/sharer/sharer.php?quote=${postParams.text}&u=${postParams.url}`
      return postBody
    }
  }
}
</script>

<style lang="scss" scoped>

$grey: hsla(250, 0%, 68%, 1);
$panel-width: 350px;

#locality-info-panel {
  width: $panel-width;
  position: fixed;
  float: right;
  right: 0;
  top: 40px;
  height: calc(100vh - 40px);
  z-index: 10000;
  background-color: #ffffffee;
  padding: 0.75rem 0;
  overflow-y: auto;

  #close {
    float: right;
    top: 1rem;
    right: 1rem;
    font-size: 28px;
    cursor: pointer;
    color: #222;
    margin: 0 6px;
  }

  table {
    width: 100%;
    border-top: solid 1.5px $grey;
    tr td {
      padding: 0.25rem 0.75rem 0.25rem 0.75rem;
      font-size: 14px;
      &.label {
        color: #999;
      }
    }
  }
}

#share-locality {
  padding: 0;
  font-size: 1rem;
  li {
    float: left;
    padding-right: 0.5rem;
    list-style: none;
    text-transform: none;
  
    a {
      color: black;
    }
  }
}

// Trnsition classes 
.slide-in-enter-active, .slide-in-leave-active {
  transition: all .3s ease;
}

.slide-in-enter, .slide-in-leave-to {
  transform: translateX($panel-width);
  right: 0;
}

h2 {
  padding-left: 0.75rem;
  margin-bottom: 0;
  font-weight: bold;
}

#share-locality {
  padding: 0 0 1rem 0.75rem
}

#comment {
  border-top: solid 1.5px $grey;
}

</style>

<i18n>
{
  "en": {
    "shareLocality": "Share this place"
  }, 
  "ar": {
    "shareLocality": "شارك/ي هذا المكان"
  }, 
  "he": {
    "shareLocality": ""
  }
}
</i18n>