<template>
  <transition name="slide-in"> 
    <!-- TODO refactor this transition into its own component: https://vuejs.org/v2/guide/transitions.html#Reusable-Transitions-->
    <div v-show="showMapLegendsPanel" id="map-legends-panel">
      <i id="close" @click="showMapLegendsPanel=false" class="material-icons" title="Close">close</i>
      <h2>{{ name }}</h2>
      <table>
        <tbody>
          <tr v-show="scale > 1">
            <td class="label"> Scale
            </td>
            <td> 1:{{ scale.toLocaleString() }} </td>
          </tr>
          <tr>
            <td class="label"> Period
            </td>
            <td> {{ period }} </td>
          </tr>
          <tr>
            <td class="label"> Author
            </td>
            <td> {{ attribution.split(',')[0] }} </td>
          </tr>
          <!-- NEED API FOR SOURCES
          <tr v-show="sources.length > 0">
            <td class="label"> Sources
            </td>
            <td><ul class="list-unstyled"> <li v-for="(source, index) in sources"> {{ source }}</li> </ul> </td>
          </tr>
          -->
          <tr class="map-description">
            <td colspan="2"> {{ description }} </td>
          </tr>
          <!-- <tr>
            <td class="label"> Attribution
            </td>
            <td> {{ attribution }} </td>
          </tr> -->
          <tr v-show="further_readings.length > 0">
            <td class="label">
              Further Readings
            </td>
            <td><ul class="list-unstyled"> <li v-for="(further_reading, index) in further_readings"> {{ further_reading }}</li> </ul> </td>
          </tr>
          <!-- <tr>
            <td class="label"> Boundaries
            </td>
            <td> {{ boundaries }} </td>
          </tr> -->
          <!-- 
          <tr>
            <td> End Date </td>
            <td> {{ endDate }} </td>
          </tr>
        -->
          </tbody>
      </table>
    </div>
  </transition>
</template>

<script>

import {Model, Collection} from 'vue-mc'
import * as _ from 'lodash'

import LayerCollection from '../collections/LayerCollection'
import MapLayer from '../models/Layer'

import store from '../store'

export default {
  components: {
  },

  props: {
    layer: {
      type: Object,
      required: false // set to false because first instantiation won't have anything on it
    }
  },

  computed: {
    id: function () {
      return this.layer.id
    },
    name: function () {
     	return this.layer.name
    },
    description: function () {
    	return this.layer.description
    },
    boundaries: function () {
      return this.layer.boundaries
    },
    scale: function () {
    	return this.layer.scale
    },
    period: function () {
      var start_year = this.layer.start_year ? this.layer.start_year.substring(0, 4) : ''
      var end_year = this.layer.end_year ? this.layer.end_year.substring(0, 4) : ''
    	return start_year + ' - ' + end_year
    },
    sources: function () {
    	return this.layer.sources
    },
    attribution: function () {
      return this.layer.attribution
    },
    further_readings: function () {
      return this.layer.further_readings
    },
    showMapLegendsPanel: {
      get: function () {
        return this.$store.state.showMapLegendsPanel
      },
      set: function (show) {
        return this.$store.commit('setShowMapLegendsPanel', show)
      }
    }
  }
}
</script>

<style lang="scss" scoped>

$grey: hsla(250, 0%, 68%, 1);
$panel-width: 350px;

#map-legends-panel {
  width: $panel-width;
  position: fixed;
  float: right;
  right: 0;
  top: 40px;
  height: calc(100vh - 40px);
  z-index: 9999;
  background-color: #ffffffee;
  padding: 0.75rem 0;
  overflow-y: auto;

  #close {
    float: right;
    top: 1rem;
    right: 1rem;
    font-size: 28px;
    cursor: pointer;
    color: #222;
    margin: 0 6px;
  }
  #name {
    border-bottom: solid 1.5px $grey;
  }

  table {
    border-top: solid 1.5px $grey;
    width: 100%;
    tr td {
      padding: 0.25rem 0.75rem 0.25rem 0.75rem ;
      font-size: 14px;
      &.label {
        color: #999;
      }
    }
    ul {
      margin-bottom: 0;
    }
    .map-description {
      border-top: solid 1.5px $grey;
      td {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }
}

// Trnsition classes 
.slide-in-enter-active, .slide-in-leave-active {
  transition: all .3s ease;
}

.slide-in-enter, .slide-in-leave-to {
  transform: translateX($panel-width);
  right: 0;
}

h2 {
  padding-left: 0.75rem;
  font-weight: bold;
}
</style>