<template>
  <div class="map-area">

    <div id='map'></div>

  </div>
</template>



<script type = 'text/javascript' >


  export default {
    components: {

    },

    data: function () {
      return {
      }
    }
  }

</script>

<style scoped lang="scss">
  @import "~leaflet/dist/leaflet.css";

  .control-icons .material-icons {
    line-height: 32px;
    text-align: center;
  }
</style>


<i18n>
{
  "en": {
    "supportThisProject": "Support this project"
  }, 
  "ar": {
    "supportThisProject": "ادعموا هذا المشروع"
  }, 
  "he": {
  }
}
</i18n>
