<template>
  <div class="map-area">
    <!-- Weclome message  -->
    <!-- <welcome-message></welcome-message> -->

    <!-- Main menu icon, to show/hide side menu -->
    <div id="main-menu" :class="{ active: menuActive }" class="col-lg-3 col-md-4 col-sm-5">
      <span
        id="menu-icon"
        class="menu-icon link"
        :class="{ active: menuActive }"
        v-on:click="showHideMenu()"
      >
        <i class="material-icons mi-menu">&#xe53b;</i>
        <i class="material-icons mi-close">&#xE5CD;</i>
      </span>
      <accordion></accordion>
    </div>

    <!-- Support link -->
    <div id="support-link" class="hide">
      <a href="/support" title="Support This Project">{{ $t('supportThisProject') }}</a>
    </div>
    <!-- The actual map -->
    <l-map
      v-if="layers"
      @hook:mounted="mapMounted"
      @update:center="updateCenter"
      @update:zoom="updateZoom"
      ref="map"
      style="height: 90%"
      :zoom="zoom"
      :center="center"
    >
      <!-- basemap layer -->
      <l-tile-layer
        v-for="(basemap, index) in basemaps.models"
        :url="basemap.url"
        :attribution="basemap.attribution"
        :visible="basemap.is_visible"
      ></l-tile-layer>

      <!-- overlay layers -->
      <l-tile-layer
        ref="overlays"
        @hook:mounted="overlaysMounted"
        v-for="(overlay, index) in overlays.models"
        :url="overlay.url"
        :attribution="overlay.attribution"
        :visible="overlay.is_visible"
      ></l-tile-layer>

      <!-- geojson overlay -->
      <l-geo-json
        :geojson="geojson"
        :options-style="styleFunction"
        :visible="showSheets"
        @click="downloadMaps"
      ></l-geo-json>

      <!-- markers -->
      <locality-marker
        v-for="locality of filteredLocalities.models"
        :centroid="locality.centroid"
        :name="locality.name"
        :id="locality.id"
        :status="locality.change_status_since_1945"
        :visible="showLocalities"
      ></locality-marker>

      <!-- attribution -->
      <l-control-attribution
        position="bottomright"
        :prefix="`Palestine Open Maps |  <a href='http://data.palopenmaps.org/edit#background=custom:http://palopenmaps.org/tiles/pal20k-1940s/{z}/{x}/{y}@2x.jpg&disable_features=boundaries&map=${zoom}/${editCenter.lat}/${editCenter.lng}' target='_blank'> edit </a>`"
      ></l-control-attribution>
    </l-map>

    <!-- locality info panel -->
    <locality-info-panel
      v-if="fullLocality"
      :locality="selectedLocality"
      :fullLocality="fullLocality"
    ></locality-info-panel>

    <!-- Legends info panel -->
    <map-legends-panel v-if="selectedLayer" :layer="selectedLayer"></map-legends-panel>

    <div class="control-icons row">
      <!-- <i class="material-icons">flip</i> -->
      <!-- <overlay-switch /> -->
      <split-screen />
      <overlays-panel />
      <localities-switch />
      <legends-switch />
      <!-- <i class="material-icons">info</i> -->
    </div>
  </div>
</template>

<script type = 'text/javascript' >
import { LMap, LTileLayer, LGeoJson, LControlAttribution } from "vue2-leaflet";
import SubscribeForm from "../components/SubscribeForm";
import OverlayLayer from "../components/OverlayLayer";
import OverlaySwitch from "../components/OverlaySwitch";
import LocalitiesSwitch from "../components/LocalitiesSwitch";
import LegendsSwitch from "../components/LegendsSwitch";
import WelcomeMessage from "../components/WelcomeMessage";
import LocalityInfoPanel from "../components/LocalityInfoPanel";
import MapLegendsPanel from "../components/MapLegendsPanel";
import LocalityMarker from "../components/LocalityMarker";
import OverlaysPanel from "../components/OverlaysPanel";
import Accordion from "../components/Accordion";
import NProgress from "nprogress";
import { mapGetters, mapState } from "vuex";
import SplitScreen from "../components/SplitScreen";
import SideBySide from "leaflet-side-by-side";

export default {
  components: {
    LMap,
    LTileLayer,
    LGeoJson,
    LControlAttribution,
    WelcomeMessage,
    SubscribeForm,
    LocalityMarker,
    LocalityInfoPanel,
    OverlaysPanel,
    Accordion,
    OverlayLayer,
    OverlaySwitch,
    LocalitiesSwitch,
    LegendsSwitch,
    MapLegendsPanel,
    SplitScreen
  },

  data() {
    return {
      map: null,
      menuActive: true,
      zoom: 14,
      geojson: null,
      editCenter: [],
      errors: []
    };
  },

  computed: {
    center: function() {
      return [31.5017126, 34.4580897];
    },
    selectedId: function() {
      return this.$route.params.id ? this.$route.params.id : null;
    },
    ...mapState([
      "localities",
      "filteredLocalities",
      "selectedLocality",
      "fullLocality",
      "layers",
      "basemaps",
      "overlays",
      "selectedLayer",
      "showLocalities",
      "showSheets",
      "selectedSheets"
    ]),
    showLocalityInfoPanel: {
      get: function() {
        return this.$store.state.showLocalityInfoPanel;
      },
      set: function(show) {
        return this.$store.commit("setShowLocalityInfoPanel", show);
      }
    },
    showMapLegendsPanel: {
      get: function() {
        return this.$store.state.showMapLegendsPanel;
      },
      set: function(show) {
        return this.$store.commit("showMapLegendsPanel", show);
      }
    },
    // style function for sheets geojson
    styleFunction() {
      return feature => {
        return feature.properties && feature.properties.style;
      };
    }
  },
  async created() {
    // NProgress.start()
    this.$store.dispatch("getLocalities").then(response => {
      if (this.selectedId) {
        let locId = this.selectedId
        let locality = this.$store.state.localities.find( ({ id }) => id == locId )
        this.$store.dispatch('selectLocality', locality)
        this.$store.dispatch('getFullLocalityData', locId)
        this.$store.commit('setShowLocalityInfoPanel', true)
      }
    });
    this.$store.dispatch("getLayers");
    this.$store.dispatch("getSheets");

    // Load GeoJson layer
    const response = await fetch("/static/data/pal-sheets.geojson");
    this.geojson = await response.json();

    // TODO: replace this with a support link component
    window.setTimeout(function() {
      var supportLink = document.getElementById("support-link");
      supportLink.classList.remove("hide");
    }, 120000);
  },

  mounted() {
    this.$store.commit("setHideFooter", true);
    var assetLayerGroup = new L.LayerGroup();
    this.$root.$on("eventing", data => {
      if (data != null) {
        var rightLayer = L.tileLayer(data.url, { attribution: data.attribution });
        rightLayer.setZIndex(7);

        assetLayerGroup.clearLayers();
        assetLayerGroup.addLayer(rightLayer);
        assetLayerGroup.addTo(this.map);

        L.control.sideBySide(null, rightLayer).addTo(this.map);

        // this.map.removeLayer(rightLayer);
        // var el = document.getElementsByClassName("leaflet-sbs").style.display = 'block';
      } else {
        // console.log("no split");
        // console.log(rightLayer)
        // remove right layer
        this.map.removeLayer(assetLayerGroup);
        // L.control.sideBySide('','').remove();
        // remove side-by-side splitter
        var elements = document.getElementsByClassName("leaflet-sbs");

        for (var i = 0; i < elements.length; i++) {
          document.getElementsByClassName("leaflet-sbs")[i].style.display =
            "none";
        }

        // refresh component
        // this.$forceUpdate()
      }
    });
  },

  watch: {
    selectedLocality: function(newSelectedLocality, oldSelectedLocality) {
      this.panToLocality(newSelectedLocality)
      // console.log(newSelectedLocality)
      let lat = newSelectedLocality.centroid[0]
      let lng = newSelectedLocality.centroid[1]
      this.$router.push({name: 'MapViewer', params: {id: newSelectedLocality.id, location: `@${lat},${lng}`}})
    }
    // $route: function(newRoute, oldRoute) {
    //   this.panToLocality({ centroid: newRoute.params.location.replace('@', '').split(',') })
    // }
  },

  methods: {
    panToLocality: function(locality) {
      if (this.map) {
        this.map.flyTo(locality.centroid, 14);
      }
    },
    getLocality: async function(id) {
      await this.$store.dispatch("selectLocality", id);
      await this.$store.dispatch("getFullLocalityData", id);
      this.$store.commit("setShowLocalityInfoPanel", true);
    },
    showHideMenu: function() {
      this.menuActive = !this.menuActive;
    },
    mapMounted: function() {
      this.map = this.$refs.map.mapObject;
      let loc = this.$route.params.location ? this.$route.params.location.replace("@", "").split(",") : this.center;
      this.map.flyTo(loc);
      // hide default attribution
      this.map.attributionControl.remove();
    },
    overlaysMounted: function() {
      this.overlaysLayers = this.$refs.overlays;
      for (var overlay of this.overlaysLayers) {
        if (overlay.mapObject) {
          overlay.mapObject.setZIndex(1000);
        }
      }
    },
    downloadMaps: function(event) {
      // console.log(event.latlng.lat)
      // console.log(event.latlng.lng)
      this.$store.commit("setSelectedSheets", event.latlng);
      this.menuActive = true;
    },
    splitScreen: function() {
      this.map = this.$refs.map.mapObject;
      // this.map.control
      // L.control.sideBySide(stamenLayer, osmLayer).addTo(map);
    },
    updateCenter: function(center) {
      this.editCenter = center;
    },
    updateZoom: function(zoom) {
      this.zoom = zoom;
    }
  },
  beforeRouteLeave(to, from, next) {
    this.$store.commit("setHideFooter", false);
    next();
  },
  metaInfo: function() {
    return {
      title: this.selectedLocality
        ? this.selectedLocality.name
        : this.$t("mapViewer"),
      meta: [
        {
          vmid: "og:title",
          name: "og:title",
          content: this.selectedLocality
            ? `${this.selectedLocality.name} - Palestine Open Maps`
            : "Palestine Open Maps"
        },
        {
          vmid: "og:image",
          name: "og:image",
          content: this.selectedLocality
            ? `${process.env.VUE_APP_BASE_URL}/djstatic/media/locality-preview-${this.selectedLocality.id}.jpg`
            : "palopenmaps.org/static/images/haifa-crop.jpg"
        },
        { vmid: "og:type", name: "og:type", content: "website" },
        { vmid: "og:image:type", name: "og:image:type", content: "image/jpeg" },
        { vmid: "og:image:width", name: "og:image:width", content: "932" },
        { vmid: "og:image:height", name: "og:image:height", content: "491" },
        {
          vmid: "og:url",
          name: "og:url",
          content: `${process.env.VUE_APP_BASE_URL}${this.$route.fullPath}`
        },
        {
          vmid: "twitter:card",
          name: "twitter:card",
          content: "summary_large_image"
        }
      ]
    };
  }
};
</script>

<style scoped lang="scss">
@import "~leaflet/dist/leaflet.css";

.control-icons .material-icons {
  line-height: 32px;
  text-align: center;
}
</style>

<i18n>
{
  "en": {
    "supportThisProject": "Support this project"
  }, 
  "ar": {
    "supportThisProject": "ادعموا هذا المشروع"
  }, 
  "he": {
  }
}
</i18n>
