<template>
  <label id="overlays-toggle-wrapper" v-if="layers">

    <div id="overlay-control-panel">

      <b-form-group>

        <b-form-checkbox-group stacked v-model="selectedOverlays" >
          <b-form-checkbox v-for="(option, key) in overlayLayersOptions" :key="key" :value="option.value" :disabled="option.disabled" :unchecked-value="showOverlayState">
            <div :class="option.disabled ? 'disabled' : ''">
              <span>{{option.text}}</span>
              <i class="fas fa-globe" :class="showOverlayState ? 'active' : ''" title="Toggle overlays"></i>
            </div>
          </b-form-checkbox>
              
        </b-form-checkbox-group>
      </b-form-group>

    </div>
    </div>

  </label>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

import {BFormGroup, BFormCheckboxGroup} from 'bootstrap-vue'
import LayerCollection from '../collections/LayerCollection'
import Layer from '../models/Layer'

export default {
  data: function () {
    return {
      showOverlayState: false,
      selectedOverlays: null
    }
  },
  computed: {
    overlayLayers: {
      get: function () {
        return this.$store.state.overlays
      },
      set: function (overlays) {
        this.$store.commit('setOverlays', overlays)
      }
    },
    overlayLayersOptions: function () {
      // create the options array to use with the bootstrap component
      let options = []
      for (var layer of this.overlayLayers.models) {
        options.push({text: layer.name, value: layer, disabled: !layer.is_active})
      }
      return options
    },
    ...mapState(['layers', 'showOverlay'])
  },
  watch: {
    selectedOverlays: function (newOverlays, oldOverlays) {
      this.overlayLayers.each((overlay, index) => {
        if (newOverlays.includes(overlay)) {
          overlay.is_visible = true
          // this.showOverlayState = true
        } else {
          overlay.is_visible = false
          // this.showOverlayState = false
        }
      })
      if (this.selectedOverlays.length > 0) {
        // this.showOverlayState = true
        this.$store.commit('setShowOverlay', true)
      } else {
        this.$store.commit('setShowOverlay', false)
      }
    },
    showOverlayState: function (newShowOverlayState, oldShowOverlayState) {
      this.$store.commit('setShowOverlay', this.showOverlayState)
    },
    showOverlay: function (newShowOverlay, oldShowOverlay) {
      this.showOverlayState = newShowOverlay
    }
  }
}
</script>

<style scoped>

#overlay-control-panel {
  /*background-color: hsla(283, 100%, 75%, 1);*/
  font-size: 13px;
}
</style>