<template>
  <i class="fas fa-globe" title="Overlays"></i>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import LayerCollection from '../collections/LayerCollection'
import Layer from '../models/Layer'

export default {
  data: function () {
    return {
      selectedOverlays: null
    }
  },
  computed: {
    overlayLayers: {
      get: function () {
        return this.$store.state.overlays
      },
      set: function (overlays) {
        this.$store.commit('setOverlays', overlays)
      }
    },
    overlayLayersOptions: function () {
      // create the options array to use with the bootstrap component
      let options = []
      for (var layer of this.overlayLayers.models) {
        options.push({text: layer.name, value: layer, disabled: !layer.is_active})
      }
      return options
    },
    ...mapState(['layers' ])
  },
  watch: {
    selectedOverlays: function (newOverlays, oldOverlays) {
      this.overlayLayers.each((overlay, index) => {
        if (newOverlays.includes(overlay)) {
          overlay.is_visible = true
        } else {
          overlay.is_visible = false
        }
      })
    }
  }
}
</script>

<style scoped>
</style>