<template>
  <!-- <i id="overlay-switch" class="material-icons" v-on:click="showOverlay">language</i> -->
  <b-form-checkbox-group stacked v-model="selectedOverlays" >
  <label for="overlay-switch">
    <i class="fas fa-globe" :class="showOverlayState ? 'active' : ''" title="Toggle overlays"></i>
    <b-form-checkbox id="overlay-switch" v-model="showOverlayState"></b-form-checkbox>
  </label>
  </b-form-checkbox-group>
</template>

<script>

import {mapState, mapGetters} from 'vuex'
import {BFormCheckbox} from 'bootstrap-vue'

export default {
  data: function () {
    return {
      showOverlayState: false
    }
  },

  computed: {
    ...mapState(['showOverlay'])
  },

  watch: {
    showOverlayState: function (newShowOverlayState, oldShowOverlayState) {
      this.$store.commit('setShowOverlay', this.showOverlayState)
    },
    showOverlay: function (newShowOverlay, oldShowOverlay) {
      this.showOverlayState = newShowOverlay
    }
  }
}
</script>

<style scoped>
  .custom-control.custom-checkbox {
    display: none;
  }
  label {
    text-align: center;
  }
  label i {
    line-height: 32px;
  }
</style>
