<!-- to be deleted NOT USED -->
<template>
  <div class="side-box-content">
    <i class="material-icons close" v-on:click='showSideBox(false)'>&#xE5CD;</i>

    <div class="side-section">
      <h1 class="title" id="side-box-title"> Palestine, 1:250,000 </h1>
      <!-- <div class="control-btns">
        <i class="material-icons btn">&#xE417;</i><!-
        -><i class="material-icons btn">&#xE2C4;</i><!-
        -><i class="material-icons btn">&#xE80D;</i>
      </div> -->
    </div>

    <div id="side-box-html">

      <div class="side-section">
        <table class="table">
          <tbody>
            <tr>
              <td class="label"> Scale </td><td> 1:250,000 </td>
            </tr>
            <tr>
              <td class="label"> Dates </td><td> 1946 </td>
            </tr>
            <tr>
              <td class="label"> No. of sheets </td><td> 3 </td>
            </tr>
            <tr>
              <td class="label"> Author </td><td> Survey of Palestine </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="side-section">
        <p> Some descriptive information about this map set. Original or from another source. </p>
      </div>

      <div class="side-section">
        <p class="label"> Source </p>
        <p><a href="#" target="_blank"> Source link. </a></p>
      </div>

      <div class="side-section">
        <p class="label"> Further reading </p>
        <p><a href="#" target="_blank"> read link </a></p>
      </div>

      <div class="side-section">
        <p class="label"> Map Legend </p>
        <p> Map legend goes here! </p>
      </div>

    </div>
    
  </div>
</template>

<script type = "text/javascript" >
export default {
  methods: {
    showSideBox: function (show) {
      var el = document.getElementById('side-box')
      if (show) {
        this.hideCenteredBoxes()
        el.classList.remove('closed')
      } else {
        el.classList.add('closed')
      }
    }
  }
}
</script>

<style>
</style>
