<template>
  <!-- <div> -->
  <i id="split-switch" class="material-icons" :class="screenSplitted ? 'active' : ''" @click="splitMaps">flip</i>
  <!-- <p>{{ showLocalities }}</p> -->
<!-- </div> -->
</template>

<script>
import { mapState } from 'vuex'

export default {
  data: function () {
    return {
    }
  },
  computed: {
    ...mapState ([ 'screenSplitted', 'selectedLayer', 'basemaps' ])
  },
  methods: {
    // ...mapMutations([
    //   'toggleShowLocalities'
    // ]),

  	splitMaps: function () {

      // Get satellite layer (id = 14)
      let satellite = this.$store.state.layers.find({id: 14})

      if(!this.screenSplitted) {
        this.$root.$emit('eventing', satellite)
      } else {
        this.$root.$emit('eventing', null)
        // deactivate split screen
      }

			this.$store.commit('toggleSplitScreen')
  	}
  }
}
</script>

<style scoped>
</style>
