<template>
  <div v-show="showWelcomeMessage" id="welcome-message" class="welcome-message centered-box">
    <div class="message-content box-content text-left">
      <h1> {{ $t('pom') }} </h1>
      <p> {{ $t('alphaProject')}} </p>
      <p> <i class="material-icons mi-tap">&#xE913;</i> <b> {{ $t('helpTip') }}</b> </p>
      <!-- <a href="" class="btn btn-default" v-on:click="showHelp(false)"> View Maps </a>-->
      <a @click="hideWelcomeMessage" class="btn btn-default" > {{ $t('viewMaps') }} </a>
      <router-link to="/about" class="btn btn-default">{{ $t('readMore') }}</router-link>
      <span class="close-message" @click="hideWelcomeMessage"> <i class="material-icons mi-close">&#xE5CD;</i> </span>
    </div>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        showWelcomeMessage: true
      }
    },
    methods: {
      hideWelcomeMessage: function () {
        this.showWelcomeMessage = false
      }
    }
}
</script>

<style lang="scss" scoped>
.welcome-message {
  min-height: 326px;
  margin-top: -163px;
  .message-content {
    .material-icons.mi-tap {
      font-size: 64px !important;
      float: left;
    }
  }
  h1 {
    font-size: 32px;
    line-height: 38px;
  }
  p {
  }
  @media( max-width: 767px ) {
    h1 {
    line-height: 36px;
      b {
        display: block;
        font-size: 35px;
      }
    }
  }
  .btn {
    &.btn-default {
      background: transparent;
      border: 2px solid #222;
      border-radius: 0;
      margin: 0 3px;
      color: #222;
      font-weight: bold;
      &:hover, &.btn-black {
        background: #222;
        color: #fff;
      }
    }
  }
}
</style>

<i18n>
{
  "en": {
    "alphaProject": "Palestine Open Maps is a new platform for map-based exploration and immersive storytelling. This alpha version of the platform allows you to navigate historic maps and search for localities.",
    "helpTip": "Click the top-left menu to select historic map layers and filters. Hit search to find a historic or present day location."
  }, 
  "ar": {
    "alphaProject": "عن بشروع ناشئ",
    "helpTip": "انقر على اليسار"    
  }, 
  "he": {

  }
}
</i18n>