<template>
  <div id="app">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark row">
        <div class="col-4">
          <button v-on:click="collapseMenu()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse no-gutters" id="navbarsExample04">
            <ul class="navbar-nav">
              <li class="nav-item" v-on:click="collapseMenu()">
                <router-link to="/view" class="nav-link"> {{ $t('viewMaps') }} </router-link>
              </li>
              <li class="nav-item" v-on:click="collapseMenu()">
                <router-link to="/about" class="nav-link"> {{ $t('about') }} </router-link>
              </li>
              <li class="nav-item" v-on:click="collapseMenu()">
                <router-link to="/vision" class="nav-link">  {{ $t('vision') }} </router-link>
              </li>
              <li class="nav-item" v-on:click="collapseMenu()">
                <router-link to="/support" class="nav-link"> {{ $t('support') }} </router-link>
              </li>
              <!--
              <li class="nav-item">
                <a class="nav-link" href="https://medium.com/@visualizingpal" target="_blank">Blog</a>
              </li>
              -->
              <li class="nav-item"><a href="https://visualizingpalestine.org/subscribe?ref=pom" target="_blank" class="nav-link" :title="$t('newsletter')"><i class="fas fa-envelope"></i></a></li>
              <li class="nav-item">
                <!-- should factor this out as its own component -->
                <span class="share-wrapper">
                  <div id="collapseShare" class="share-menu collapse" v-bind:class="{ show: showShareMenu }">
                    <a target="_blank" :href="'https://www.facebook.com/sharer/sharer.php?u=https%3A//palopenmaps.org' + $route.path"><i class="fab fa-facebook"></i> {{ $t('facebook') }}</a>
                    <a target="_blank" :href="'https://twitter.com/home?status=Check%20out%20%23PalOpenMaps,%20a%20new%20project%20by%20%40visualizingpal.%20%23HistoricMaps%20of%20%23Palestine%20as%20you\'ve%20never%20seen%20them%20before%20https%3A//palopenmaps.org' + $route.path"><i class="fab fa-twitter"></i> {{ $t('twitter') }} </a>
                    <a href="mailto:?subject=Palestine%20Open%20Maps&body=Historic%20maps%20of%20Palestine%20as%20you've%20never%20seen%20them%20before.%0A%0Ahttps%3A//palopenmaps.org"><i class="fas fa-envelope"></i> {{ $t('email') }}</a>
                  </div>
                  <span class="nav-link" @click="showShareMenu = !showShareMenu" title="Share"><i class="fas fa-share-alt"></i></span>
                </span>

              </li>
              <!--
              <li class="nav-item">
                <locale-switcher></locale-switcher>
              </li>
              -->
              <!--
              <li class="nav-item" v-on:click="collapseMenu()">
                <localities-search></localities-search>
              </li>
            -->
            </ul>
          </div>
        </div>
        <div class="col-4 d-none d-sm-block text-center">
          <router-link :to="{ name: 'IntroPage' }" class="navbar-brand">{{ $t('pom') }}</router-link>
        </div>
        <div class="col-4 d-none d-sm-block text-right pr-4">
          <a href="https://visualizingpalestine.org" target="_blank" style="text-decoration: none;"><span class="vp-logo1">VISUALIZING</span><b class="vp-logo2">PALESTINE</b></a>
        </div>
      </nav>
    </header>
    <!-- <img src="./assets/logo.png"> -->
    <router-view></router-view>

    <!-- FOOTER -->
    <footer v-show="!hideFooter" class="container">
      <p><small class="text-muted">Palestine Open Maps, <a href="https://visualizingpalestine.org" target="_blank">Visualizing Palestine</a> 2018.</small></p>
    </footer>
  </div>
</template>

<script>
  import LocalitiesSearch from './components/LocalitiesSearch'
  import LocaleSwitcher from './components/LocaleSwitcher'
  import { mapState } from 'vuex'

  export default {
    components: {
      LocalitiesSearch,
      LocaleSwitcher
    },
    data: function () {
      return {
        showShareMenu: false
      }
    },
    name: 'App',
    methods: {
      collapseMenu: function () {
        var menu = document.getElementById('navbarsExample04')
        menu.classList.toggle('show')
      }
    },
    computed: {
      dir: function () {
        return this.locale === 'en' ? 'ltr' : 'rtl'
      },
      ...mapState(['locale', 'hideFooter' ])
    },
    watch: {
      locale: function (newLocale, oldLocale) {
        // Set the locale when it changes
        this.$i18n.locale = newLocale
      }
    },
    metaInfo: function () {
      return {
        titleTemplate: this.$t('titleTemplate'),
        // Set the language dynamically:
        htmlAttrs: {
          lang: this.locale,
          dir: this.dir
        },
        meta: [
          { vmid: 'og:title', name: 'og:title', content: 'Palestine Open Maps'},
          { vmid: 'og:description', name: 'og:description', content: 'Search, navigate, digitize and download historical maps of Palestine/Israel'},
          { vmid: 'og:type', name: 'og:type', content: 'website'},
          { vmid: 'og:url', name: 'og:url', content: `${process.env.VUE_APP_BASE_URL}${this.$route.fullPath}` },
          { vmid: 'og:image', name: 'og:image', content: `${process.env.VUE_APP_BASE_URL}/static/images/haifa-crop.jpg`},
          { vmid: 'og:image:type', name: 'og:image:type', content: 'image/jpeg'},
          { vmid: 'og:image:width', name: 'og:image:width', content: '932'},
          { vmid: 'og:image:height', name: 'og:image:height', content: '491'},
          { vmid: 'twitter:card', name: 'twitter:card', content: 'summary_large_image'}
        ]
      }
    }
  }
</script>

<style lang="scss">
  @import './style.scss';
</style>