// @font-face {
//   font-family: 'effra_heavy';
//   src: url('./assets/fonts/effra_heavy.otf?#iefix') format('embedded-opentype'),  url('./assets/fonts/effra_heavy.woff') format('woff'), url('./assets/fonts/effra_heavy.ttf')  format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'effra_medium';
//   src: url('./assets/fonts/effra_medium.otf?#iefix') format('embedded-opentype'),  url('./assets/fonts/effra_medium.woff') format('woff'), url('./assets/fonts/effra_medium.ttf')  format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'effra_light';
//   src: url('/assets/fonts/effra_regular.eot') format('embedded-opentype'),  url('/fonts/effra_regular.woff') format('woff'), url('/fonts/effra_regular.ttf')  format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
body {
  width: 100%;
  // overflow: hidden;
}
.hidden {
  display: none;
}
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  color: #2c3e50;
  // overflow: hidden;

  div.disabled {
    opacity: 0.2;
  }

  .material-icons {
    font-size: 20px;
    vertical-align: middle;
    &.rotate-90 {
      transform: rotate(90deg);
    }
  }

  // header {
  //   background: #222;
  //   color: #fff;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: 9999;
  //   // line-height: 44px;
  //   height: 44px;
  //   h1 {
  //     font-size: 22px;
  //     font-weight: bold;
  //   }
  //   h1, .vp {
  //     line-height: 44px;
  //     margin: 0;
  //   }
  //   a {
  //     color: #fff;
  //     &:hover {
  //       text-decoration: none;
  //     }
  //   }
  //   .link {
  //     width: 26px;
  //     height: 44px;
  //     display: inline-block;
  //     margin: 0;
  //     text-align: center;
  //     cursor: pointer;
  //     i {
  //       line-height: 44px;
  //       vertical-align: unset !important;
  //     }

  //     &.search-link {
  //       width: 30px;
  //       // height: 35px;
  //       input {
  //         display: none;
  //         outline: none;
  //         margin: 0;
  //         padding: 0;
  //         border: none;
  //         &:focus {
  //           outline: none;
  //         }
  //       }
  //       &.active {
  //         width: 174px;
  //         text-align: left;
  //         background: #666;
  //         i {
  //           width: 30px;
  //           text-align: center;
  //         }
  //         input {
  //           display: inline-block;
  //           border: none;
  //           background: transparent;
  //           width: 136px;
  //           line-height: 26px;
  //           border-bottom: 1px solid #ccc;
  //           color: #fff;
  //         }
  //         @media (min-width: 992px) {
  //           width: 220px;
  //           input {
  //             width: 180px;
  //           }
  //         }
  //       }
  //     }
  //   }
  //   .menu-icon {
  //     .mi-close {
  //       display: none;
  //     }
  //     &.active {
  //       .mi-close {
  //         display: block;
  //       }
  //       .mi-menu {
  //         display: none;
  //       }
  //     }
  //   }
  
  //   .share-wrapper {
  //     position: relative;
  //     display: inline-block;
  //     height: 44px;
  //     .share-menu {
  //       position: absolute;
  //       top: 44px;
  //       left: 0;
  //       background: #fff;
  //       text-align: left;
  //       padding: 6px 10px;
  //       width: 120px;
  //       a {
  //         color: #222;
  //         display: block;
  //         line-height: 32px;
  //       }
  //       &.closed {
  //         display: none;
  //       }
  //     }
  //   }
  // }
  .vue2leaflet-map.leaflet-container {
    background: #000;
  }
/*
  .side-box {
    position: absolute;
    top: 0;
    // right: -25%;
    right: 0;
    padding: 0 !important;
    height: 100%;
    background: rgba(255,255,255,0.92);
    transition: right .2s ease-out;
    z-index: 9998;
    text-align: left;
    &.closed {
      right: -50%;
      @media (max-width: 767px) {
        right: -100%;
      }
    }
    .side-section {
      padding: 10px 15px;
      border-bottom: 1px solid #ccc;
      .table {
        margin: 0;
        td, th {
          border-top: none;
          padding: 2px;
        }
      }
      .label {
        color: #999;
        margin: 0;
      }
    }
    .side-box-content {
      .title {
        padding-right: 26px;
      }
      position: relative;
      overflow: auto;
      height: 100%;
      .close {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 26px;
        cursor: pointer;
      }
    }
    .control-btns {
      margin: 0 -3px;
      .btn {
        padding: 5px;
        background: #222;
        border-radius: 50%;
        color: #fff;
        margin: 3px;
        display: inline-block;
      }
    }
    
  }*/
}


.btn {
  &.btn-default {
    background: transparent;
    border: 2px solid #222;
    border-radius: 0;
    margin: 0 3px;
    color: #222;
    font-weight: bold;
    &:hover, &.btn-black {
      background: #222;
      color: #fff;
    }
  }
}

.map-area {
  width: 100%;
  height: 98vh;
  height: calc(100vh - 44px);
  position: relative;
  overflow: hidden;
  // padding-top: 44px;

  .map-wrapper {
    height: 100%;
  }

  .map {
    height: 100vh;
  }

  .vue2leaflet-map {
    height: 100% !important;
  }

  .control-icons {
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 5000;
    margin: 0;
    i {
      font-size: 18px;
      color: #222;
      background: #999;
      width: 32px;
      height: 32px;
      border-radius: 16px;
      margin: 0 4px;
      display: inline-block;
      text-align: center;
      line-height: 32px;
      cursor: pointer;
      &.active {
        background: #fff;
      }
    }
    .custom-control {
      min-height: 0;
      .disabled {
        display: none;
      }
      &.custom-checkbox {
        padding-left: 0;
        label {
          span, &:before, &:after {
            display: none;
          }
        }
      }
    }

    #overlays-toggle-wrapper {
      display: inline-block;
      text-align: center;
      fieldset {
        margin: 0;
        height: 32px;
      }
      .custom-checkbox {
        // display: inline-block;
        padding-left: 0;
      }
      .fas, .fa, .fab {
        font-size: 20px;
        line-height: 32px;
      }
    }
  }

  // .menu-icon {
  //   position: absolute;
  //   padding: 10px 0;
  //   top: 0px;
  //   right: 0px;
  //   height: 44px;
  //   width: 44px;
  //   background: rgba(255,255,255,0.7);
  //   cursor: pointer;
  //   &.active {
  //     right: -44px;
  //     i:before {
  //       content: "\f00d";
  //     }
  //   }
  // }

  #main-menu {
    position: absolute;
    top: 0;
    left: -25%;
    // overflow: auto;

    .menu-icon {
      position: absolute;
      top: 15px;
      right: -40px;
      z-index: 9996;
      background: #fff;
      width: 40px;
      text-align: center;
      line-height: 18px;
      display: block;
      cursor: pointer;
      padding: 4px;
      i {
        font-size: 32px;
      }
      .mi-close {
        display: none;
      }
      &.active {
        border-left: 1px solid #ccc;
        .mi-close {
          display: block;
        }
        .mi-menu {
          display: none;
        }
      }
    }

    // right: 0;
    // padding: 44px 0 0 !important;
    padding: 0 !important;
    height: 100%;
    background: rgba(255,255,255,0.92);
    transition: left .2s ease-out;
    z-index: 9997;
    text-align: left;
    .close-menu {
      font-size: 26px;
      i {
        cursor: pointer;
      }
    }
    .menu-header {
      padding: 10px 0 0;
      border-bottom: 1px solid #222;
    }

    h1 {
      font-size: 18px;
      line-height: 20px;
      margin: 0;
      // b {
      //   display: block;
      //   font-size: 20px;
      // }
    }
    .vp {
      font-size: 14px;
      margin-bottom: 6px;
      a {
      color: #222;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &.active {
      left: 0 !important;
    }
    @media( max-width: 991px ) {
      left: -34%;
      h1 {
        font-size: 14px;
      }
      .vp {
        font-size: 12px;
      }
    }
    @media (max-width: 769px) {
      left: -42%;
      width: 42%;
    }
    @media( max-width: 575px ) {
      left: -75%;
      width: 75%;
    }
    
    .report-issue {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: 1px solid #ccc;
      padding: 10px 15px;
      cursor: pointer;
      background: #fff;
      p {
        margin: 0;
      }
      i {
        height: 26px;
        vertical-align: middle;
      }
      &:hover {
        color: red;
      }
    }
    .material-icons.mi-tap {
      font-size: 64px !important;
      float: left;
    }
  }

  .left-menu {
    position: absolute;
    bottom: 20px;
    right: 10px;
    text-align: left;
    z-index: 9997;
    .link {
      width: 34px;
      height: 34px;
      background: rgba(255,255,255,0.92);
      display: inline-block;
      border-radius: 50%;
      color: #222;
      margin: 2px 3px;
      text-align: center;
      // transition: width .3s ease-in;
      transition: background .3s ease-in;
      cursor: pointer;
      i, b {
        line-height: 34px;
      }
      b {
        font-size: 15px;
      }
      &:hover {
        background: rgba(255,255,255,1);
        text-decoration: none;
      }

    }
  }

  .map-legend {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.92);
    text-align: left;

    h2 {
      font-size: 16px;
      margin-bottom: 0;
      font-weight: bold;
    }

    .legend-content, .localities-content {
      padding: 10px 15px;
      // .accordion {
      //   overflow: hidden;
      //   transition: all .3s;
        
      //   margin-top: 10px;
      //   height: auto;
      //   max-height: 300px;
      //   overflow: auto;
      //   @media( max-width: 767px ) {
      //     max-height: 156px;
      //   }
        
      //   &.closed {
      //     height: 0;
      //     margin: 0;
      //   }
      // }
      p {
        margin-bottom: 2px;
        font-size: 14px;
      }
      .section {
        margin-bottom: 5px;
      }
    }
    .legend-content {
      border-top: 1px solid #222;

    }
  }
}

h2.open-accordion {
  cursor: pointer;
  i:before {
    content: "\f077";
  }
  i.fa-chevron-down:before {
    content: "\f078";
  }
}

#accordion #overlay-control-panel .fas {
  display: none;
}

.accordion {
  overflow: hidden;
  transition: all .3s;
  
  margin-top: 10px;
  height: auto;
  max-height: 75vh;
  overflow: auto;
  @media( max-width: 767px ) {
    // max-height: 356px;
  }

  #overlay-toggle-icon {
        text-align: center;
  }
  
  &.closed {
    height: 0;
    margin: 0;
  }
}

.fa-circle {
  border-radius: 50%;
  &.black {
    color: #666;
    background: #666;
  }
  &.green {
    background: #95c11e;
    color: #95c11e;
  }
  &.yellow {
    background: #ffdd00;
    color: #ffdd00;
  }
  &.orange {
    background: #f39200;
    color: #f39200;
  }
  &.red {
    background: #e6332a;
    color: #e6332a;
  }
  &.blue {
    background: #36a9e0;
    color: #36a9e0;
  }
  &.gray {
    background: #878787;
    color: #878787;
  }
}

.centered-box {
  position: absolute;
  width: 520px;
  top: 50%;
  left: 50%;
  margin-left: -260px;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9998;
  .box-content {
    padding: 20px 40px;
    position: relative;
    .close-message {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
    }
  }
  &.closed {
    display: none;
  }
  @media( max-width: 767px ) {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    left: 0;
    top: 0;
  }
  @media( max-width: 500px) {
    .box-content {
      padding: 20px;
    }
  }
  &#report-issue-box {
    height: 574px;
    margin-top: -287px;
    max-height: 80vh;
    overflow: auto;
    .report-form {
      text-align: left;
    }
  }
  &#download-map-box {
    height: 444px;
    margin-top: -222px;
    max-height: 80vh;
    overflow: auto;
    .download-form {
      text-align: left;
    }
  }
}

form {
  .field {
    margin: 10px 0;
    label {
      display: inline;
    }
    input[type="text"], input[type="email"], textarea, select {
      width: 100%;
      padding: 3px 5px;
      border: 1px solid #222;
      resize: none;
      &:focus {
        outline: none;
      }
    }
  }
  .form-actions {
    margin: 0 -3px;
  }
}


.col-nopadding {
  padding: 0 !important;
}

.leaflet-control-container {
  .leaflet-left {
    left: auto;
    right: 15px;
    top: 5px;
  }
}

#search-select {
  // position: relative;
  // z-index: 9997;
  position: absolute;
  z-index: 9997;
  top: -1px;
  left: 0;
  width: 100%;
  background: #fff;
  input {
    text-align: center;
  }
}

.subscribe-form {
  padding-bottom: 28px;
  p {
    font-size: 14px;
  }

  label {
    font-size: 14px;
    font-weight: bold;
  }

  input {
    font-size: 14px;
  }

  .form-actions {
    margin: 0;
  }

  .subscribe-confirmation {
    h2 {
      font-weight: bold;
      font-size: 18px;
    }
  }
}

#nprogress {
  .bar {
    z-index: 10002;
    background: #ec1b2f;
  }
  .peg {
    box-shadow: 0 0 10px #ec1b2f, 0 0 5px #ec1b2f;
  }
}

#support-link {
  position: absolute;
  top: -3px;
  left: 50px;
  z-index: 9996;
  background: #f39200;
  transition: top .3s;
  &:hover {
    top: 0;
  }
  a {
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px 3px;
    &:hover {
      text-decoration: none;
    }
  }
  &.hide {
    top: -40px;
  }
}

// PAGES
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,800');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  padding-top: 44px;
  padding-bottom: 0rem;
  color: #5a5a5a;
}

#localities-search .v-select {
  input[type=search], input[type=search]:focus {
    position: absolute;
    width:100%;
    left: 0;
    top: 0;
  }
  .dropdown-toggle {
    height: 36px;
  }
}

.nav-link {
  cursor: pointer;
}
.navbar-brand {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 800;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item a {
    padding-right: .2rem !important;
    padding-left: .2rem !important;
  }
}
.vp-logo1 {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 300;
  color: #fff;
}
.vp-logo2 {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 800;
  color: #fff;
}
@media (max-width: 767px) {
  .vp-logo2, .vp-logo1 {
    font-size: 12px;
  }
}
.bg-dark {
  background-color: #000000 !important;
}
.navbar {
  padding: 0 0.5rem;
}

.material-icons {
  font-size: 1.2rem;
  vertical-align: middle;
}

.btn.btn-default {
  background: transparent;
  border: 2px solid #222;
  border-radius: 0;
  margin: 0 6px 0 0;    
  color: #222;
  font-weight: bold;
}
.btn.btn-default:hover {
  background: #222;
  color: #fff;
}

.img-wrapper {
  height: 500px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.img-wrapper img {
  position: absolute;
  top:-100%; left:-100%; right: -100%; bottom:-100%;
  margin: auto;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: bold;
}

ol.circles-list {
  list-style-type: none;
  // list-style-type: decimal !ie; /*IE 7- hack*/
  margin: 0;
  margin-left: 3em;
  padding: 0;
  counter-reset: li-counter;
}
ol.circles-list > li{
  position: relative;
  margin-bottom: 1em;
  padding-left: 0.5em;
  min-height: 3em;
}
ol.circles-list > li:before {
  position: absolute;
  top: 0;
  left: -2em;
  width: 1.5em;
  height: 1.5em;
   
  font-size: 1.5em;
  color: #000;
  line-height: 1.3em;
  text-align: center;

  border: 2px solid #222;
  border-radius: 50%;
  content: counter(li-counter);
  counter-increment: li-counter;
}

header {
  .navbar {
    min-height: 44px;
    @media (max-width: 1024px) and (min-width: 992px)  {
      .nav-link {
        font-size: 13px;
        padding: 0.6rem 1rem;
      }
    }
    @media (max-width: 991px) {
      .col-sm-4.text-center {
        position: absolute;
        left: 50%;
        margin-left: -141px;
        top: 0;
      }
      .col-sm-4.text-right {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  .share-wrapper {
    position: relative;
    display: inline-block;
    height: 44px;
    .share-menu {
      position: absolute;
      top: 44px;
      left: 0;
      background: #fff;
      text-align: left;
      padding: 6px 10px;
      width: 120px;
      a {
        color: #222;
        display: block;
        line-height: 32px;
      }
      &.closed {
        display: none;
      }
    }
  }
}

.copyleft {
  display:inline-block;
  transform: rotateY(180deg);
}

.info-text p {
  color: #666;
  font-size: 12px !important;
  margin-bottom: 12px !important;
}

main a, footer a {
  color: #f39200;
  &:hover {
    color: #f39200;
  }
}

.fixed-top {
  z-index: 10001 !important;
}
.test {
  padding: 0;
}

#main-menu .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.download-link i {
  font-size: 16px;
  color: #222;
  width: 32px;
  height: 32px;
  border: 1.5px solid #222;
  border-radius: 16px;
  margin: 5px 0;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  &:hover {
    background: #222;
    color: #fff;
  }
}

.small {
  line-height: 80% !important;
}

.sheet-title {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.4rem;
  margin: 0;
}

.sheet-detail {
  font-size: 0.8rem;
  color: #444;
  margin-top: 1px;
  margin-bottom: 0;
}

.menu-button {
  background: none;
  border: 1.5px solid #222;
  color: #222;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 4px 8px;
  margin-bottom: 1rem;
  &:hover {
    background: #222;
    color: #fff;
    border-color: #222;
  }
}

#collapseShare a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.9rem;
  line-height: 1.6rem;
  color: #444 !important;
  &:hover {
    color: #000 !important;
  }
  i {
    width: 18px;
  }
}

.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}